.logoConf {
    width: 100px;
}
.d-block {
    
 }
.letritas {
    color: #97c93e;
}
.verde {
    background-color: #97c93e;
    color: white;
}

#footer {
    background-color: #213845;
    color: white;
}
